<div *ngIf="dataIsReady">
  <table
      class="data-table  data-table--shadow3px  no-hover-effect  data-table--vertical-line">
    <thead>
      <tr>
        <th>日程</th>
        <ng-container *ngFor="let symbol of symbols">
          <th *ngIf="symbol.useThis">
            <mat-icon aria-hidden="true" [title]="symbol.description">
              {{symbol.iconName}}
            </mat-icon>
          </th>
        </ng-container>
        <th *ngFor="let answer of answers">
          <span *ngIf="answerDeadlineExpired; then thenBlock; else elseBlock"></span>
          <ng-template #thenBlock>
            {{answer.userName}}
          </ng-template>
          <ng-template #elseBlock>
            <button mat-button class="mini-button" (click)="userClicked( answer )">
              {{answer.userName}}
            </button>
          </ng-template>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let datetime of event.selectedDatetimes"
          [class.dateIsSoso]="7 <= getAverageScore( event, datetime )
                                && getAverageScore( event, datetime ) < 10"
          [class.dateIsOK]="getAverageScore( event, datetime ) === 10" >
        <th>
          {{utils.toYMD( datetime )}}
          ({{utils.getDayStringJp( datetime )}})
          {{utils.toHM( datetime )}}
        </th>
        <ng-container *ngFor="let symbol of symbols">
          <td *ngIf="symbol.useThis">
            {{spreadSheet[ datetime.valueOf() ][ symbol.id ]}}
            <span class="small-font">人</span>
          </td>
        </ng-container>
        <td *ngFor="let answer of answers">
          <mat-icon>
            {{getIconNameOfAnswer( answer, datetime, symbols )}}
          </mat-icon>
        </td>
      </tr>
      <tr>
        <th>コメント</th>
        <ng-container *ngFor="let symbol of symbols">
          <td *ngIf="symbol.useThis"></td>
        </ng-container>
        <td *ngFor="let answer of answers">
          <button mat-icon-button
              title="コメントあり"
              (click)="commentOnClick( answer.comment )">
            <mat-icon aria-hidden="true" *ngIf="!!answer.comment">
              comment
            </mat-icon>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
