<ng-container *ngIf="{
  eventId               : eventId$               | async,
  event                 : event$                 | async,
  answerDeadlineExpired : answerDeadlineExpired$ | async,
  spreadSheet           : spreadSheet$           | async
} as data">


<div *ngIf="!!event && !!answerDeadlineExpired && !!spreadSheet">
  <div *ngIf="flipTableState; then rowDateTable; else rowUserTable"></div>
  <ng-template #rowDateTable>
    <table
        class="data-table  data-table--shadow3px  no-hover-effect  data-table--vertical-line">
      <thead>
        <tr>
          <th>日程 <button mat-button (click)="flipTable()">行列入れ替え</button></th>
          <th>スコア</th>
          <ng-container *ngFor="let symbol of symbols">
            <th *ngIf="symbol.useThis">
              <mat-icon aria-hidden="true" [title]="symbol.description">
                {{symbol.iconName}}
              </mat-icon>
            </th>
          </ng-container>
          <th *ngFor="let answer of answers">
            <span *ngIf="answerDeadlineExpired; then thenBlock; else elseBlock"></span>
            <ng-template #thenBlock>
              {{answer.userName}}
            </ng-template>
            <ng-template #elseBlock>
              <button mat-button class="mini-button" (click)="userClicked( answer )">
                {{answer.userName}}
              </button>
            </ng-template>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let datetime of event.selectedDatetimes"
            [class.dateIsGood]="7 <= getAverageScore( event, datetime )
                                  && getAverageScore( event, datetime ) < 10"
            [class.dateIsPerfect]="getAverageScore( event, datetime ) === 10" >
          <th>
            {{utils.toYMD( datetime )}}
            （{{utils.getDayStringJp( datetime )}}）
            {{utils.toHM( datetime )}}
          </th>
          <th>{{getAverageScore( event, datetime )}}</th>
          <ng-container *ngFor="let symbol of symbols">
            <td *ngIf="symbol.useThis">
              {{spreadSheet[ datetime.valueOf() ][ symbol.id ]}}
              <span class="small-font">人</span>
            </td>
          </ng-container>
          <td *ngFor="let answer of answers">
            <mat-icon>
              {{getIconNameOfAnswer( answer, datetime, symbols )}}
            </mat-icon>
          </td>
        </tr>
        <tr>
          <th>コメント</th>
          <th><!-- score average --></th>
          <ng-container *ngFor="let symbol of symbols">
            <td *ngIf="symbol.useThis"></td>
          </ng-container>
          <td *ngFor="let answer of answers">
            <button mat-icon-button
                title="コメントあり"
                (click)="commentOnClick( answer.comment )">
              <mat-icon aria-hidden="true" *ngIf="!!answer.comment">
                comment
              </mat-icon>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </ng-template>

  <ng-template #rowUserTable>
    <table
        class="data-table  data-table--shadow3px  no-hover-effect  data-table--vertical-line">
      <thead>
        <tr>
          <th>日程 <button mat-button (click)="flipTable()">行列入れ替え</button></th>
          <th *ngFor="let datetime of event.selectedDatetimes">
            {{utils.toYMD( datetime )}}
            （{{utils.getDayStringJp( datetime )}}）<br>
            {{utils.toHM( datetime )}}
          </th>
          <th>コメント</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let answer of answers">
          <th>
            <span *ngIf="answerDeadlineExpired; then thenBlock; else elseBlock"></span>
            <ng-template #thenBlock>
              {{answer.userName}}
            </ng-template>
            <ng-template #elseBlock>
              <button mat-button class="mini-button" (click)="userClicked( answer )">
                {{answer.userName}}
              </button>
            </ng-template>
          </th>
          <td *ngFor="let datetime of event.selectedDatetimes">
            <mat-icon>
              {{getIconNameOfAnswer( answer, datetime, symbols )}}
            </mat-icon>
          </td>
          <td>
            <button mat-icon-button
                title="コメントあり"
                (click)="commentOnClick( answer.comment )">
              <mat-icon aria-hidden="true" *ngIf="!!answer.comment">
                comment
              </mat-icon>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </ng-template>

</div>
</ng-container>
