<div class="body-with-padding">
  <div class="input-area">
    Input:
    <textarea matInput
      (input)="inputTextOnChange( $event.target.value )"
      matTextareaAutosize matAutosizeMinRows="5"
      class="prettyprint prettyprinted line-nums lambda-source-code"
      spellcheck="false"
      placeholder="input" ></textarea>
  </div>
  <div class="memo-area">
    <p> is lambda term : {{isLambdaTerm$ | async}} </p>
    <p> parse tree : {{parseTreeToStr$ | async}} </p>
  </div>
  <div class="output-area">
    Result:
    <pre class="prettyprint prettyprinted line-nums lambda-source-code"
      contenteditable="false" spellcheck="false"
      >{{output$ | async}}</pre>
  </div>
</div>
